@media only screen and (min-width: 45em) {
    div.InnSuitesGallery {
    grid-template-columns:1fr 1fr
    }
    
    div.home-slogan {
    font-size:4.2vw
    }
    
    .book-now h4 {
    margin-left:250px;
    margin-right:250px;
    padding-top:20px;
    padding-bottom:20px
    }
    
    .WeatherSummary {
    margin-left:200px;
    margin-right:200px;
    padding-left:40px
    }
    
    .WeatherSummary h4 {
    padding-right:60px
    }
    
    .TemplesTR {
    font-size:115%
    }
    
    .TemplesTR > th {
    padding-left:10px;
    padding-right:10px
    }
    
    .TemplesH4 {
    font-size:120%
    }
    
    .contact-us h4 {
    margin-left:250px;
    margin-right:250px;
    padding-top:20px;
    padding-bottom:20px
    }
    }