

div.experiment {
width: 400px;
height: 80px;
padding: 10px;
border: 10px solid gray;
margin-bottom: 10px;
background-color: red;

}

div.baseline {
    width: 400px;
    height: 80px;
    background-color: yellow;

}