body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    padding: 0px;
    margin:0px;
}

header {
    background-color: #2d1fa8;
    text-align: center;
    padding: 0.5rem;
    color: white;

}

header>img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    text-align: center;

}

.headertext {
    display: inline-block;
    vertical-align: middle;

}

.headertext h1 {
    font-size: 3rem;
}

.motto {
    font-size: 1.1rem;
    color: #ffffff;
    font-style: italic;
}

.currentconditions {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2 rem;
    vertical-align: middle;
    color: #ffffff;
    background-color:  #301fc5;
    border: 1pt solid #2b1bb8;
    font-size: 1.1rem;
    text-align: center;
}

.currentconditions {
    width: auto;
    height: auto;
}



  
  .topnav {
    overflow: hidden;
    background-color: #6E72B9;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #6E72B9;
    color: white;
    text-align: center;
  }

  .TownName {
    text-align: center;

  }

  article {
      text-align: center;
  }

  footer {
    text-align: center;
  }